@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tsukimi+Rounded&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 500px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 30%;
}

button:hover {
    opacity: 0.9;
}

button:focus {
    outline:none;
}